/*BODY*/
      body{
      }

/*FONTS AND TYPE STYLE*/
      @font-face {
        font-family: 'MyWebFont';
        src: url('LemonMilk.eot'); /* IE9 Compat Modes */
        src: url('LemonMilk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('LemonMilk.woff2') format('woff2'), /* Super Modern Browsers */
             url('LemonMilk.woff') format('woff'), /* Pretty Modern Browsers */
             url('LemonMilk.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('LemonMilk.svg#svgFontName') format('svg'); /* Legacy iOS */
      }
      h1 {
        font-size: 1.2vw;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .35em;
        font-weight: 200;
        font-style: normal;
        margin: 0;
        padding-top: 0;
        display: table-cell;
        width: 30%;
        vertical-align: middle;
        line-height: 1em;
        z-index: 8002;
        position: relative;
        color: black;
      }

      h1:hover {
        color: #74ccd1;
        transition: 1s;
      }
      h1.scrolling {
        color: white;
      }
      h1:hover.scrolling {
        color: #ffe2e6;
      }
      h2 {
        font-size: 1.3vw;
        letter-spacing: .2vw;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200;
      }
      h3 {
        color: black;
        font-size: .65vw;
        letter-spacing: .2vw;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200;
      }
      h3.scrolling {
            color: white;
        }
      h4 {
        font-size: 1vw;
        line-height: 1.5;
        font-weight: 200;
      }
      h5 {
        font-size: 1vw;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .35em;
        font-weight: normal;
        font-style: normal;
        margin: 0;
        padding-top: 0;
        display: table-cell;
        width: 30%;
        vertical-align: middle;
        line-height: 1em;
        position: relative;
        text-align: left;
        color: #74ccd1;
      }
      h5.scrolling {
        font-family: 'LemonMilk', Fallback, sans-serif;

      }
      h6 {
        font-family: 'LemonMilk', Fallback, sans-serif;
        color: white;
        font-size: 3vw;
        text-align:center;
        letter-spacing: .2vw;
        line-height: 1.3;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .email a {
          z-index: 9000000000000000000;
        }
      .link {
        color: #74ccd1;
        }
      .coral {
        color: #74ccd1;
        letter-spacing: .45em;
        font-weight: bold;
        }

/*INDEX STUFF*/
      video.fillWidth {
        width: 100%;
        /*height: 80vh;*/
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -100;
      }
      .landingpage-flex-container {
        padding-top: 90px;
        padding-bottom: 90px;
      }


/*NAVIGATION*/
      .logoleftnav {
        width: 40%;
        clear: both;
        float: left;
        padding: 1.2vw 4vw;
        padding-bottom: 0;
      }
      .title {
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
        padding-top: 2%;
        margin-left: 7%;
        width: 35%;
      }
      .designer {
        -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
        -o-animation: fadein 6s; /* Opera < 12.1 */
        animation: fadein 6s;
        margin-left: 0;
      }
      .designer1 {
        margin-left: 0;
      }
      .spacer {
        -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
        -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;
        margin-left: 1em;
      }
      .spacer1 {
        margin-left: 1em;
      }
      .drawer {
        -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
        -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;
        margin-left: 1em;
      }
      .drawer1 {
        margin-left: 1em;
      }
      .spacer2 {
        -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
        -o-animation: fadein 10s; /* Opera < 12.1 */
        animation: fadein 10s;
        margin-left: 1em;
      }
      .spacer21 {
        margin-left: 1em;
      }
      .developer {
        -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
        -o-animation: fadein 10s; /* Opera < 12.1 */
        animation: fadein 10s;
        margin-left: 1em;
      }
      .developer1 {
        margin-left: 1em;
      }
      .illustrator {
        display: inline-flex;
        width: 30%;
        margin-bottom: 2%;
      }
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Firefox < 16 */
            @-moz-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Safari, Chrome and Opera > 12.1 */
            @-webkit-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Internet Explorer */
            @-ms-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Opera < 12.1 */
            @-o-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }

      nav {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        padding: 10px;
        padding-bottom: 0;
        z-index: 9000000000000;
        width: 100%;
        transition: .7s;
        background-color: white;
      }
      nav.scrolling {
        background-color: #414452;
      }
      .navigation-desktop {
        display: inline-table;
        width: 100%;
        vertical-align: middle;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 1vw 5vw;
        overflow: hidden;
        width: 40%;
        float: right;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 1em 1.2em;
        text-decoration: none;
        font-size: .75vw;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-weight: 200;
        font-style: normal;
      }
      li a:hover {
        font-family: 'LemonMilk', Fallback, sans-serif;
        color: #74ccd1;
        transition: .7s;
      }
      li a.scrolling {
        color: white;
      }
      li a:hover.scrolling {
        color: #74ccd1;
      }
      .active a{
        color: #6bb7bf;
        transition: .7s;
      }
      #popup1 {
        z-index: 9000000000000000000;
      }
      .popup {
        margin: 70px auto;
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      }
      .popup h2 {
        margin-top: 1%;
        color: black;
        text-align: left;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
      .popup .close:hover {
        color: #3f8037;
      }
      .popup .content {
        max-height: 30%;
        overflow: auto;
        text-align: left;
        margin-top: 5%;
      }
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      .direct-email p {
        text-align: center;
      }
      .send-button {
        background-color: #ffffff;
        border: 0;
      }

/*INDEX PAGE INFO CONTAINER*/
      .background {
        background-color: white;
      }
      #containerA {
        display: none;
      }
      #containerB {
        display: none;
      }
      #containerC {
        display: none;
      }
      .flex-container-index{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin-top: 100;
        overflow: scroll;
        background-color: white;
        z-index: 90000000;
      }
      .index-image {
        width: 50%;
        margin: 2px;
        margin-left: -7%;
      }
      .index-image img {
        width: 100%;
      }
      .index-intro {
        text-align: justify;
        width: 40%;
        margin-left: 6%;
        margin-top: 2%;
      }
      .list {
        text-align: justify;
        width: 40%;
        margin-left: 8%;
      }
      .flex-container-index-2{
        padding: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: scroll;
        background-color: #333a44;
        z-index: 90000000;
        text-align: center;
      }
      .index-image-2 img{
        width: 80%;
        justify-content: center;
      }
      .index-image-3 {
        padding-bottom: 4%;
      }
      .index-image-3 img{
        width: 80%;
      }
      .flex-container-index-3{
        padding: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: scroll;
        background-color: white;
        text-align: center;
      }
      #dribbble{
        padding: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: hide;
        background-color: white;
      }
        #dribbble img {
          width: 50vh;
        }
      .index-intro-3 {
        text-align: center;
        width: 100%;
        margin-right: 3%;
        margin-top: 1%;
      }
      .flex-container-index-4{
        padding: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        background-color: #333a44;
      }
      .index-recommendations {
        padding: 1%;
        text-align: justify;
        width: 40%;
      }
      .otherstitle {
        width: 100%;
        text-align: center;
      }
      h4.others {
        color: white;
        font-size: 1vw;
      }

/*INDEX PAGE INFO CONTAINER*/
      footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: .25%;
        background-color: white;
        overflow: hidden;
        width: 100%;
        z-index: 9000000000000;
      }
      footer a {
        font-size: 22px;
        color: #cccccc;
        margin-right: 0%;
      }
      .left-footer {
      float: left;
      display: inline;
      width: 40%;
    }
      .right-footer {
        float: right;
        margin-right: -3%;
        width: 20%;
      }
      .socialmedia {
        width: 25px;
      }
      .copyright  {
        color: black;
        font-size: .65vw;
        letter-spacing: .2vw;
        margin-left: 4%;
        margin-top: 1%;
        text-decoration: none;
        text-transform: uppercase;
      }
      .fa {
      text-decoration: none;
      color: #74ccd1;
      font-size: 17px;
      margin-top: 2%;
      margin-left: 4%;
      }
      .fa:hover {
      color: #ffe2e6;
      transition: .6s;
      }

/*ABOUT ME PAGE*/
      .info-container {
        margin-top: 4%;
        padding: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: auto;
        height: auto;
      }
      h4.aboutMe {
        text-align: justify;
      }
      .wrapper {
        width:80%;
        height:100%;
        margin:0 auto;
        background: white;
      }
      .h_iframe {
        position:relative;
        padding-top: 56%;
      }
      .h_iframe iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }

/*RESUME PAGE*/
      .resume {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        margin-top: 7%;
        margin-bottom: 10%;
      }
      .resume-image {
        display: none;
      }
/*PORTFOLIO PAGE*/
      .portfolio-flex-container-top {
        width: 100%;
        margin-top: 100px;
        padding: 0;
      }
      .half-portfolio-flex-container {
        position: relative;
        width: 50%;
        overflow-x: hidden;
        float: left;
        display: block;
      }
      .half-portfolio-flex-container .text {
        position:absolute;
        top: 50%;
        left: 40%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        visibility:hidden;
      }
      .half-portfolio-flex-container:hover .text {
        visibility:visible;
        -webkit-transition: .3s ease-in-out;
        transition: .3s;
      }
      h2.text:hover {
        font-weight: bold;
      }
      .thumb-image img {
        width: 100%;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      .thumb-image a {
        line-height: 0;
      }
      .thumb-image:hover img {
      opacity: .3;
      }

/*PROJECTS PAGES*/
      .flex-container-projects {
        margin-top: 8%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: 90%;
        float: right;
      }
      .flex-container-projects-app {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: 100%;
        float: right;
      }
      .project-preview-image {
        clear: both;
        float: left;
        margin: 1%;
        width: 45%;
      }
      .project-preview-image img {
        clear: both;
        float: left;
        width: 97%;
        margin-top: 5%;
        margin-left: 2%;
      }
      .project-preview-intro {
        float: right;
        text-align: justify;
        width: 40%;
        margin-top: 8%;
      }
      .project-preview-intro-branchless {
        float: right;
        text-align: justify;
        width: 40%;
        margin-top: 1%;
      }
      .branchlessbox {
        position: relative;
        overflow: hidden;
        float: left;
        display: block;
        height: 900px;
        margin-right: 1%;
      }
      .branchlessbox iframe {
        position: relative;
        overflow: hidden;
        float: left;
        display: block;
        padding: .5%;
        height: 100%;
      }
      .branchless-sketches {
        padding: 0% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: scroll;
        background-color: white;
      }
      .branchless-sketches img {
        width: 50%;
        height: 50%;
      }
      .project-web-preview-image {
        clear: both;
        float: left;
        margin: 1%;
        width: 45%;
      }
      .project-web-preview-image img {
        clear: both;
        float: left;
        width: 97%;
        margin-top: 5%;
        margin-left: 2%;
      }
      .mobile-hero {
        display: block;
        margin-top: 50px;
      }
      .landingpage {
        width: 40%;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
      }
      .landingpage img{
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
      }
      .mobile-hero img {
        min-width: 100%;
        margin-top: 20px;
      }
      .mobile-hero-gif img {
        max-width: 1000px;
        margin-top: 50px;
        display: block;
        margin: 0 auto;
      }
      .mobile-info {
        padding: 4%;
        text-align: justify;
      }
      .mobile-hero {
        width: 1000px;
        display: block;
        margin: 0 auto;
      }
      .flex-thumbs {
        width: 100%;
        margin: 0;
        margin-top: 15%;
        padding: 0;
      }
      .flex-thumb-image {
        width: 200px;
      }
      .videobox {
        width: 100%;
        height: 100%;
      }
      .videobox iframe {
        position: relative;
        width: 45%;
        overflow: hidden;
        float: left;
        display: block;
        padding: .5%;
        height: 350px;
      }
      .video-intro {
        padding: 3%;
        margin-bottom: -2%;
      }
      .videos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      h5.video-title {
        padding-top: 4%;
        text-align: center;
      }
      .video-description {
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .video-title {
        margin-top: 15%;
        text-align: center;
        width: 100%;
        margin-bottom: 10%;
      }
      h3.description-video {
        color: black;
      }
      h1.title-video {
        font-size: 4vw;
        font-family: 'LemonMilk', Fallback, sans-serif;
      }
      .flex-container-promos{
        padding: 0% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: scroll;
        background-color: white;
      }
      .flex-container {
        margin-top: 1%;
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: 1500px;
        width: 95%;
        float: right;
      }
      .thumb-image-web a {
        line-height: 0;
      }
      .thumb-image-web:hover img {
      opacity: .5;
      }
      .thumb-image-web img{
        width: 200px;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      .divihero img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      .divihero {
        width: 70%;
        margin: 0 auto;
        margin-top: -2%;
      }
      .ui {
        padding: 4%;
      }
     .web-hero img{
        width: 100%;
      }
      .web-hero {
         width: 100%;
         height: 500px;
         overflow: hidden;
       }
       .ui-intro {
         margin: 4%;
       }
       .thumb-image1 img {
         max-height: width: 70%;
         margin: 0 auto;
       }


/*ILLUSTRATIONS PAGE*/
      .illustrations-hero img{
        width: 100%;
        height: 100%;
      }
      .illustrations-info {
        margin-top: 1%;
        margin-left: 4%;
        margin-right: 4%;
      }
      .flex-container-illustrations{
        padding: 0% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: hidden;
        background-color: white;
        margin-top: 1%;
        margin-bottom: 1%;
      }
      .flex-container {
        margin-top: 1%;
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: 1500px;
        width: 95%;
        float: right;
      }
      .ironyard-intro {
        margin: 4%;
      }
      .sketches {
        padding: 0% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        overflow: scroll;
        background-color: white;
      }
      .sketches img {
        max-width: 70%;
      }
      .thumb-image-illustrations {
        width: 50%;
        flex: 1;
      }
      .thumb-image-illustrations img {
        max-width: 100%;
      }
      .thumb-image-illustrations-info {
        width: 50%;
        background-color: #f9f9f9;
        padding-top: 3%;
        flex: 1;
      }
      h2.illustrations-textinfo {
        text-align: center;
      }
      h4.illustrations-textinfo {
        text-align: center;
      }
      p.illustrations-textinfo {
        text-align: center;
        font-size: 1vw;
        text-transform: none;
        font-size: 1vw;
        font-weight: 200;
      }
      .illustrations-text {
        padding: 0 3%;
      }

/*WEB PROJECTS FUN PAGE*/
      .thumb-image-web img {
        width: 200px;
        height: 200px;
        margin: 0;
      }
      .flex-container-web {
        margin-top: 1%;
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: 400px;
        width: 70%;
        float: right;
      }

/*BIKE MD PAGE*/
      .bikemd-hero {
        margin-top: 4%;
        min-height: 700px;
      }
      .bikemd-hero img {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 100%;
      }
      h1.bikemd-title {
        color: black;
      }
      h4.bikemdtitle {
        text-align: center;
      }

      .bikemd-info {
          margin-top: 2%;
          margin-left: 4%;
          margin-right: 4%;
        }
/*GOOD READS PAGE*/
      .projects-more img{
        width: 40%;
        display: block;
        margin: 0 auto;
      }
      .goodreads-intro {
        margin: 4%;
      }
/* SPOONFLOWER PAGE*/
      .sfhero img {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 4%;
      }
      .spoonflower-hero {
        margin-top: 4%;
        min-height: 700px;

      }
      .spoonflower-hero img {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 100%;
      }
      .blogbutton {
        background-color: #333a44;
        padding: 1%;
        width: 35%;
      }
      a.blogbutton:hover {
        color: #74ccd1;
        padding: 1%;
        width: 35%;
      }

/*HIDDEN MOBILE GOODS ON DESKTOP*/
      .mobile-index-intro {
        display: none;
      }
      .mobile-menu {
        display: none;
      }
      .mobile-name {
        display: none;
      }
      .video-responsive {
        display: none;
      }
      .mobile-landingpage-flex-container {
        display: none;
      }
      .portfolio-flex-container-top-mobile {
        display: none;
      }
      .mobile-info {
        display: none;
      }
      .mobile-hero-web {
        display: none;
      }
      .mobile-bikemd
      {
        display: none;
      }

/*MEDIA QUERIES START HERE*/
/*IPHONES 5 THROUGH IPAD MINI*/
@media screen and (min-width: 300px)
  and (max-device-width: 1023px)
      {
        * {
          font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        nav {
          display: none;
        }
        .mobileNav {
          background-color: #333a44;
          width: 100%;
          padding-top: 6%;
          padding-bottom: 6%;
          text-align: center;
          position: fixed;
          z-index: 10000000;
        }
        .mobileNav.scrolling {
          background-color: #ffe2e6;
        }
        h1.mobile-name {
          font-size: 7.75vw;
          color: white;
          display: inline;
        }
        h1:hover {
          color: #ffe2e6;
        }
        h2.mobile-title {
          color: white;
          font-size: 4vw;
          margin: 0;
        }
        h3.mobile-h3 {
          color: black;
          font-size: 7vw;
          margin: 0;
        }
        h3.mobile-h3:hover {
          color: white;
          font-size: 7vw;
          margin: 0;
          transition: .5s;
        }
        h4 {
          font-size: 3vw;
        }
        h5 {
          font-size: 4vw;
          text-align: center;
        }
        .illustrator .designer .spacer .drawer{
          display: none;
        }
        ul {
          display: none;
        }
        .mobile-landingpage-flex-container {
          display: none;
        }
        .landingpage-flex-container {
          display: none;
        }
        .flex-container-index {
          width: 100%;
          background-color: #333a44;
          z-index: 1;
        }
        .index-image {
          width: 100%;
          margin: 0;
        }
        .index-image img{
          width: 100%;
          margin-top: 20%;
        }
        .mobile-index-intro {
          width: 100% !important;
          text-align: center;
          display: block;
          background-color: #333a44;
          padding: 4%;
        }
        .index-intro {
          display: none;
        }
        .background {
          display: none;
        }
        .mobile-menu {
          display: block;
          margin-top: 2%;
        }
        .mobile-about {
          padding: 5%;
          border-bottom: 2px solid black;
        }
        .mobile-about:hover {
        background-color: #333a44;
        }
        footer {
          position: relative;
        }
        .left-footer {
          display: none;
        }
        .right-footer {
          width: 100%;
          text-align: center;
          background-color: #333a44;
          margin: 0;
        }
        .fa {
          font-size: 7.1vw;
          margin: 3%;
          color: white;
        }
        .fa:hover {
          color: #ffe2e6;
        }

        /*ABOUT ME PAGE*/

        .info img {
          width: 100%;
        }
        .info-container {
          margin-top: 0%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          position: relative;
          width: auto;
          height: auto;
        }
        .info {
          padding-top: 20%;
        }
        h4.aboutMe {
          text-align: justify;
          font-size: 4vw;
        }
        .wrapper {
          width:80%;
          height:100%;
          margin:0 auto;
          background: white;
        }
        .h_iframe {
          position:relative;
          padding-top: 56%;
        }
        .h_iframe iframe {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }

        /*RESUME*/
        .resume {
          display: none;
        }
        .resume-image {
          padding-top: 20%;
          display: block;
          width: 100%;
        }

        /*PORTFOLIO*/
        .portfolio-flex-container-top {
          width: 100%;
          margin-top: 0;
          padding: 0;
        }
        .portfolio-flex-container {

          display: block;
        }
        .half-portfolio-flex-container {
          position: relative;
          width: 50%;
          overflow-x: hidden;
          float: left;
          display: block;
        }
        .thumb-image img {
          width: 100%;
          opacity: 1;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }
        .thumb-image a {
          line-height: 0;
        }
        .thumb-image:hover img {
        opacity: .5;
        }
        .portfolio-flex-container-top-mobile {
          height: 200px;
          width: 100px;
          background-color: white;
          display: inline-block;
        }
        .half-portfolio-flex-container {
          display: block;
          width: 100%;
        }
        /*PROJECT PAGES*/
        .flex-container-projects {
          display: none;
        }
        .flex-container-projects img {
          width: 100%;
        }
        .mobile-hero {
          display: block;
          width: 100%;
          margin: 0;
        }
        .mobile-hero img {
          min-width: 100%;
          margin-top: 190px;
        }
        .mobile-hero-gif {
          display: block;
          width: 100%;
          margin: 0;
        }
        .mobile-hero-gif img {
          min-width: 100%;
          margin-top: 0px;
        }
        .mobile-info {
          display: block;
          padding: 4%;
          text-align: justify;
        }
        .landingpage {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          position: relative;
          overflow: scroll;
          background-color: white;
          width: 100%;
        }
        .landingpage-thumbs {
          margin-top: 1%;
          margin-right: 3%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          position: relative;
          width: 95%;
          float: right;
        }
        .mobile-hero-web {
          display: block;
          margin: 6%;
        }
        .mobile-hero-web img {
          width: 100%;
        }
        /*VIDEO PAGE*/
        video.videohero {
          max-width: 1200px;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        .videohero {
          max-width: 100%;
        }
        .videobox {
          width: 100%;
          height: 100%;
        }
        .videobox iframe {
          position: relative;
          width: 100%;
          overflow: hidden;
          float: left;
          display: block;
          padding: .5%;
          height: 350px;
        }
        .video-intro {
          padding: 4%;
          margin: 4%;
        }
        .videos {
          margin-left: 0%;
              width: 100%;
        }
        h5.video-title {
          padding-top: 4%;
        }
        video {
              width: 100%;
        }
        /*BIKE MD*/
        .bikemd-hero img {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
        .bikemd-hero {
          margin-top: 0;
          padding-top: 10%;
        }

        h1.bikemd-title {
          color: black;
          font-size: 4vw;
          margin-top: 1%;
        }
        h4.bikemdtitle {
          text-align: center;
          font-size: 4em;
        }

        .bikemd-info {
            margin-top: 2%;
            margin-left: 4%;
            margin-right: 4%;
          }
          h2.illustrations-textinfo {
            text-align: center;
            font-size: 4em;
            margin-bottom: 10px;
            margin-top: 40px;
          }
          h4.illustrations-textinfo {
            text-align: center;
            font-size: 3em;
            margin: 10px;
          }
          p.illustrations-textinfo {
            text-align: center;
            font-size: 2em!important;
            text-transform: none;
            font-size: 1vw;
            font-weight: 200;
          }
          .illustrations-text {
            padding: 0 3%;
          }
          .flex-container-illustrations {
            background-color: #f9f9f9;
            padding-top: 4%;
            padding-bottom: 4%;
          }


        /*GOODREADS PAGE*/
        .projects-more img{
          width: 100%;
          display: block;
          margin: 0 auto;
        }

        /*MARLETING AND PROMOS PAGE*/
        .flex-container-promos{
          padding: 0% 0%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          position: relative;
          overflow: scroll;
          background-color: white;
        }
        /*BRANCHLESS*/
        .project-preview-intro-branchless {
        display: none;
        }
        .branchless-sketches img{
          width: 100%;
        }
        .desktop {
          display: none;
        }
      }
